<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if (typeof(topic) !== 'undefined') { %>
    <title><%= topic.title %> - <%= config.name %></title>
    <% } else if (typeof(pageTitle) !== 'undefined') { %>
    <title><%= pageTitle %> - <%= config.name %></title>
    <% } else { %>
    <title><%= config.description %></title>
    <% } %>
    <meta name="description" content="Web前端 腾讯IMWeb 团队社区">
    <meta name="keywords" content="前端交流,前端社区,前端,iconfont,javascript,html,css,webfront,nodejs, node, express, connect, socket.io, lego.imweb.io">
    <meta name="author" content="imwebteam@tencent">
    <!--<link rel="icon" href="../images/icon.png" type="image/x-icon">-->
    <script src="//7.url.cn/edu/jslib/jquery/1.9.1/jquery.min.js"></script>
    <script>
    window.imweb = window.imweb || {};
    imweb._csrf = '<%- csrf %>';
    <% if (current_user) { %>
        imweb.user = {
            id: '<%= current_user._id %>',
            loginname: '<%= current_user.loginname %>',
            is_admin: <%= typeof(current_user.is_admin) !== 'undefined' && current_user.is_admin %>
        };
    <% } else { %>
        imweb.user = null;
    <% } %>
    </script>
</head>

<body>
    <%- partial('common/navhead.html') %>
   <div id="banner">
    <div class="inner">
        <ul class="tab-list">
            <% tabs.forEach(function (pair) {
                var value = pair[0];
                var text = pair[1]; %>
                <li class="topic-tab <%= value === tab ? 'current-tab' : '' %>"><a href="<%= value ? '/topic/tab/' + value : '/' %>"><%= text %></a></li>
            <% }) %>
        </ul>
    </div>
</div>
<div id="main" class="clearfix">
<%- partial('common/sidebar.html') %>
<div id="content">
    <%if(sort !== null) {%>
        <div class="query-list">
            <a href="?sort=hot" class="question-query <%= sort==='hot' ? 'current-query' : '' %>">热门</a>&nbsp;|&nbsp;
            <a href="?sort=latest" class="question-query <%= sort==='latest' ? 'current-query' : '' %>">最新</a>
            <% if(current_user){ %>
                <a class="fr active publish-btn" href="/marktang/index?autoOpenInfo=true">发布文章</a>
            <% } %>
        </div>
    <%}%>
    <% if(topics.length){ %>
    <ul class="topic-list">
        <%- partial("../topic/abstract", {collection:topics, as:"topic"})%>
    </ul>
    <%- partial('common/page.html') %>
    <% }else{ %>
        <p class="no-search">没有找到您搜索的内容，可以去<a href="/topic/tab/all">文章页</a>逛逛，说不定有您想要的内容</p>
    <% } %>
</div>
</div>
    <%- partial('common/loginpop.html') %>
    <%- partial('common/footer.html') %>
</body>

