<!DOCTYPE html>
<html>

<head>
  <%- partial('common/header.html') %>
</head>

<body>
  <%- partial('common/navhead.html') %>

    <div id="wrap">
      <div>
        <% if(code===404){ %>
        <img src="../../images/404.png" alt="404" />
        <% }else{ %>
        <h1 class="error-title"><%= code %></h1>
        <% } %>
      </div>
      <div id="text" class="clear-fix">
          <% if(code===404){ %>
			      <div class="info-img"></div>
          <% }else{ %>
            <div class="info">
              <p class="info-en">Internal server error</p>
              <p class="info-ch">抱歉，服务器内部错误</p>
            </div>
          <% } %>
			      <a href="/">返回首页</a>
			      <a href="javascript:history.back()">返回上一页</a>
      </div>
    </div>

    <div class="animate below"></div>
    <div class="animate above"></div>

    <%- partial('common/loginpop.html') %>
</body>
