
<div class='user-panel'>
  <%- partial('./header') %>
  <div class='user-panel__content'>
    <div class='user-panel__content__detail'>
      <%- partial('./nav') %>
      <div class='breadcrumb--content'>
        <div class='breadcrumb--content__section section--show'>
          <div id='content'>
            <ul class="tabs" id="tabs">
              <li class="tabs__title tabs__title--left"><a href='/user/<%= user.name %>/following' >我关注的</a></li>
              <li class="tabs__title"><a href='/user/<%= user.name %>/follower' class="current">关注我的</a></li>
            </ul>

            <div class="container" id="container">
              <div class="con">
                <%  if(follower && follower.length > 0 ){ %>
                <%- partial('./user', { users: follower, follow: false }) %>
                <%- partial('../common/page') %>
                <% } else { %>
                  <div>没有关注者</div>
                <%  } %>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


