<div class='user-panel'>
  <!-- 个人主页头部 -->
  <%- partial('./header') %>
    <!-- 个人主页头部end -->
  <div class='user-panel__content'>
    <div class='user-panel__content__detail'>
      <%- partial('./nav') %>
        <div class='breadcrumb--content'>
          <div class='breadcrumb--content__section section--show'>
            <!--<%- partial('./userInfo') %>-->
            <div class="user-title">个人动态</div>
              <% if(activities && activities.length >0 ) {
                 activities.forEach(function(activity) { 
                      var time = activity.create_at_ago();
                      var status='';
                      var prefix='';
                      var reply='';
                      switch(activity.class){
                        case 'topic':
                          status = "发表了文章";
                          prefix = "topic";
                          reply = '评论';
                          break;
                        case 'reply':
                          status = "评论了文章";
                          prefix = "topic";
                          reply = '评论';
                          break;
                        case 'question':
                          status = "提出了问题";
                          prefix = "question";
                          reply = '回答';
                          break;
                        default:
                          break;
                      }
                  %>
                <div class="user-status-panel">
                  <div class="breadcrumb--content__status">
                    <%= status %> <span class="status-time"><%= time %></span>
                  </div>
                  <div class="breadcrumb--content__title">
                    <a href='/<%= prefix %>/<%= activity._id %>'><%=  activity.title %></a>
                  </div>
                  <div class="breadcrumb--content__paper">
                    <%=  activity.content %>
                  </div>
                  <div class="breadcrumb--content__follow">
                    <div class="follow-item">
                      关注 <%= activity.collect_count %>
                    </div>
                    <div class="follow-item">
                      <%= reply %> <%= activity.reply_count %>
                    </div>
                  </div>
                </div>
                <% }) %>
                <%} else {%>
                 <p>暂无活动</p>
              <%}%>

          </div>
        </div>
    </div>
  </div>
</div>

<% if (current_user) { %>
  <script>
    $(document).ready(function () {

      //关注作者
      $('#follow-btn').click(function(){
        var btn=$(this);
        var params={
          followUser_id: '<%- user._id %>',
          _csrf: '<%- csrf %>'
        };
        $.post('/user/follow',params,function(data){
          if(data.status==='success'){
            btn.addClass('hide');
            btn.siblings().removeClass('hide');
          }
        },'json')
      });

      //取消关注作者
      $('#cancel-btn').click(function(){
        var btn=$(this);
        var params={
          followUser_id: '<%- user._id %>',
          _csrf: '<%- csrf %>'
        };
      
        $.ajax({
          url: '/user/follow',
          type: 'DELETE',
          data: params,
          dataType: 'json',
          success: function(data){
            if(data.status==='success'){
              btn.addClass('hide');
              btn.siblings().removeClass('hide');
            }
          }
        })
      });

    });

    //   $('#set_star_btn').click(function () {
    //     var $me = $(this);
    //     var action = $me.attr('action');
    //     var params = {
    //       user_id: '<%= user._id %>',
    //       _csrf: '<%- csrf %>'
    //     };
    //     $.post('/user/' + action, params, function (data) {
    //       if (data.status === 'success') {
    //         if (action === 'set_star') {
    //           $me.html('取消达人');
    //           $me.attr('action', 'cancel_star');
    //         } else {
    //           $me.html('设为达人');
    //           $me.attr('action', 'set_star');
    //         }
    //       }
    //     }, 'json');
    //   });



    //   $('#set_block_btn').click(function () {
    //     var $me = $(this);
    //     var action = $me.attr('action');
    //     var params = {
    //       _csrf: '<%- csrf %>',
    //       action: action
    //     };
    //     if (action === 'set_block' && !confirm('确定要屏蔽该用户吗？')) {
    //       return;
    //     }
    //     $.post('/user/<%- user.loginname %>/block', params, function (data) {
    //       if (data.status === 'success') {
    //         if (action === 'set_block') {
    //           $me.html('取消屏蔽用户');
    //           $me.attr('action', 'cancel_block');
    //         } else if (action === 'cancel_block') {
    //           $me.html('屏蔽用户');
    //           $me.attr('action', 'set_block');
    //         }
    //       }
    //     }, 'json');
    //   })

    //   $('#delete_all').click(function () {
    //     var $me = $(this);
    //     var params = {
    //       _csrf: '<%- csrf %>',
    //     };
    //     if (!confirm('确定要删除吗？（不会永久删除，只做标记位）')) {
    //       return;
    //     }
    //     $.post('/user/<%- user.loginname %>/delete_all', params, function (data) {
    //       if (data.status === 'success') {
    //         alert('操作成功');
    //       }
    //     }, 'json');
    //   })
    // });

  </script>
  <% } %>
