<% var isCurrentUser =  user && user.loginname && currentUser && currentUser.loginname === user.loginname; %>
<ul class='breadcrumb'>
	<li class='breadcrumb__link <%if (tab === "index") {%>active<%}%>'>
		<i class="nav-icon fa fa-home"></i>
		<a href='/user/<%= user.loginname %>/index'><%=isCurrentUser ? '我' : '他' %>的主页</a>
	</li>
	<li class='breadcrumb__link <%if (tab === "topics") {%>active<%}%>'>
		<i class="nav-icon fa fa-file-text"></i>
		<a href='/user/<%= user.loginname %>/topics'><%=isCurrentUser ? '我' : '他' %>的文章</a>
	</li>
	<li class='breadcrumb__link <%if (tab === "questions") {%>active<%}%>'>
		<i class="nav-icon fa fa-question-circle"></i>
		<a href='/user/<%= user.loginname %>/question'><%=isCurrentUser ? '我' : '他' %>的问题</a>
	</li>
	<li class='breadcrumb__link <%if (tab === "replies") {%>active<%}%>'>
		<i class="nav-icon fa fa-commenting"></i>	
		<a href='/user/<%= user.loginname %>/replies'><%=isCurrentUser ? '我' : '他' %>的评论</a>
	</li>
	<!--<li class='breadcrumb__link'>
		<i class="nav-icon fa fa-heart"></i>	
		<a href='#'>我的收藏</a>
	</li>-->
	<li class='breadcrumb__link <% console.log(tab);if (tab === "follower") {%>active<%}%>'>
		<i class="nav-icon fa fa-link"></i>
		<a href='/user/<%= user.loginname %>/follower'><%=isCurrentUser ? '我' : '他' %>的粉丝</a>
	</li>
	<%if(isCurrentUser) {%>
	<li class='breadcrumb__link <%if (tab === "setting") {%>active<%}%>'>
		<i class="nav-icon fa fa-cog"></i>
		<a href='/user/<%= user.loginname %>/setting'>个人设置</a>
	</li>
	<%}%>
	<!--<li class='breadcrumb__link'>	
		<i class="nav-icon fa fa-question-circle-o"></i>
		<a href='/user/<%= user.loginname %>/follower'>我的粉丝</a>
	</li>-->
</ul>

<script>
 $(function(){
 	 var pathname = window.location.pathname;
 	 $('.breadcrumb').find(`[href='${pathname}']`).parent().addClass('active');
 })
</script>