<div class='user-panel'>
  <%- partial('./header') %>
  <div class='user-panel__content'>
    <div class='user-panel__content__detail'>
      <%- partial('./nav') %>
      <div class='breadcrumb--content question'>
        <div class='breadcrumb--content__section section--show'>
          <h3 class="user-title">我的问题</h3>
        <%  if(questions && questions.length > 0 ){ %>
          <% questions.forEach(question => { %>
               <% var time = question.create_at_ago(); %>
              <div class="question__panel">
                <div class="circle">
                  <div class="number"><%= question.reply_count %>答</div>
                </div>
                <div class="title"><a href='/question/<%= question._id %>' class="ex-link" target="_blank"><%- question.title %></a></div>
                <div class="create-at"><%- time %></div>
              </div>
          <%  }) %>
            <%- partial('../common/page') %>
          <% } else { %>
            <div>没有问题</div>
        <%  } %>
        </div>
      </div>
    </div>
  </div>
</div>
