<% var isCurrentUser =  user && user.loginname && currentUser && currentUser.loginname === user.loginname; %>
<div class='user-panel'>
  <%- partial('./header') %>
  <div class='user-panel__content'>
    <div class='user-panel__content__detail'>
      <%- partial('./nav') %>
      <div class='breadcrumb--content'>
        <div class='breadcrumb--content__section section--show'>
          <h3 class="user-title"><%= isCurrentUser?'我':'他' %>的评论</h3>
          <% if (typeof(recent_replies) !== 'undefined' && recent_replies.length > 0) { %>
          <ul class="reply-list">
          <% recent_replies.map(function(reply){ %>
            <li>
              评论了文章  <a href='/topic/<%= reply._id %>' class="ex-link" target="_blank"><%- reply.title %></a>
              <span class="item-time"><%= reply.create_at_ago() %></span>
            </li>
          <%  }) %>
          </ul>
          <% } else { %>
            <p>没有评论</p>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
