<div class='user-panel'>
  <div class='user-panel__content'>
    <div class='user-panel__content__detail'>
      <%- partial('./nav') %>
      <div class='breadcrumb--content'>
        <div class='breadcrumb--content__section section--show'>
        <div class='panel'>
          <% if (typeof(recent_replies) !== 'undefined' && recent_replies.length > 0) { %>   
          <% recent_replies.map(function(reply){ %>
            <div>评论了文章  <a href='/topic/<%= reply._id %>' class="ex-link" target="_blank"><%- reply.title %></a></div>
            <div> <%= reply.content %> </div>
          <%  }) %>
          <% } else { %>
          <div class='inner'>
            <p>没有评论</p>
          </div>
          <% } %>
        </div>  
        </div>
      </div>
    </div>
  </div>
</div>
