<div class='user-panel'>
  <%- partial('./header') %>
  <div class='user-panel__content'>
    <div class='user-panel__content__detail'>
      <ul class='breadcrumb'>
        <%- partial('./nav') %>
      </ul>
      <div class='breadcrumb--content'>
        <div class='breadcrumb--content__section section--show'>
          <div id='content'>
            <h3 class="user-title">个人设置</h3>
              <% if(typeof(error) !== 'undefined' && error){ %>
              <div class="alert alert-error">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                <strong><%= error %></strong>
              </div>
              <% } %>
              <% if (typeof(success) !== 'undefined' && success) { %>
              <div class="alert alert-success">
                <strong><%= success %></strong>
              </div>
              <% } %>
              <form id='setting_form' class='form-horizontal' action='/user/<%= user.loginname %>/setting' method='post'>
                <div class='control-group'>
                  <label class='control-label' for='name'>用户名</label>

                  <div class='controls'>
                    <input class='input-xlarge readonly' id='name' name='name' size='30' type='text' readonly='true'
                           value="<%= user.name %>"/>
                  </div>
                </div>

                <div id="user-avatar" class="control-group">
                  <label class='control-label' for='avatar'>头像</label>
                  <div class='controls'>
                      <img class="user-avatar" src="<%= user.avatar || '' %>"/>
                      <input id='avatar' name='avatar' type='hidden' readonly='true' value="<%= user.avatar || '' %>"/>

                      <div id="uploader">
                        <div id="thelist" class="uploader-list"></div>
                        <div class="btns">
                            <div id="picker">选择文件</div>
                        </div>
                        <span class="tip"></span>
                        <div class="alert-error"></div>
                    </div>
                  </div>
               </div>

                <div class='control-group'>
                  <label class='control-label' for='email'>电子邮件</label>

                  <div class='controls'>
                    <input class='input-xlarge readonly' id='email' name='email' size='30' type='text'
                           readonly='true' value="<%= user.email %>"/>
                  </div>
                </div>

                <div class='control-group'>
                  <label class='control-label' for='url'>个人网站</label>

                  <div class='controls'>
                    <input class='input-xlarge' id='url' name='url' size='30' type='text' value="<%= typeof(user.url) !== 'undefined' ? user.url : '' %>"/>
                  </div>
                </div>

                <div class='control-group'>
                  <label class='control-label' for='location'>所在地点</label>

                  <div class='controls'>
                    <input class='input-xlarge' id='location' name='location' size='30' type='text'
                           value="<%= typeof(user.location) !== 'undefined' ? user.location : '' %>"/>
                  </div>
                </div>

                <div class='control-group'>
                  <label class='control-label' for='weibo'>微博</label>

                  <div class='controls'>
                    <input class='input-xlarge' id='weibo' name='weibo' size='30' type='text' value="<%= typeof(user.weibo) !== 'undefined' ? user.weibo : '' %>"/>
                  </div>
                </div>

                <div class='control-group'>
                  <label class='control-label' for='github'>GitHub</label>

                  <div class='controls'>
                    <input class='input-xlarge' id='github' name='github' size='30' type='text'
                           value="<%= typeof(user.githubUsername) !== 'undefined' ? '@' + user.githubUsername : '' %>" placeholder="@username" readonly="readonly" />
                    <p>请通过 GitHub 登录 IMWeb 来修改此处</p>
                  </div>
                </div>

                <div class='control-group'>
                  <label class='control-label' for='signature'>个性签名</label>

                  <div class='controls'>
                    <textarea class='input-xlarge' id='signature' name='signature' size='30'><%= typeof(user.signature) !== 'undefined' ? user.signature : "" %></textarea>
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="receive_reply_mail">提醒邮件</label>
                  <div class="controls">
                    <label><input type="radio" id="receive_reply_mail" name="receive_reply_mail" value="1" <%= user.receive_reply_mail ? 'checked' : '' %>>接收<label>
                    <label><input type="radio" name="receive_reply_mail" value="0" <%= user.receive_reply_mail ? '' : 'checked' %>>不接收</label>
                    <span class="mail-info">欢迎订阅，我们只会在您关注的内容有更新时提醒您</span>
                  </div>
                </div>

                <input type='hidden' id='action' name='action' value='change_setting'/>
                <input type='hidden' name='_csrf' value='<%= csrf %>'/>

                <div class='form-actions'>
                  <input type='submit' class='span-primary submit_btn ui-button' data-loading-text="保存中.." value='保存设置'/>
                </div>
              </form>
          </div>
        </div>


        <div class='breadcrumb--content__section section--show'>
          <div id='content'>
            <h3 class="user-title">更改密码</h3>
              <form id='change_pass_form' class='form-horizontal' action='/user/<%= user.loginname %>/setting' method='post'>
                <div class='control-group'>
                  <label class='control-label' for='old_pass'>当前密码</label>

                  <div class='controls'>
                    <input class='input-xlarge' type='password' id='old_pass' name='old_pass' size='30'/>
                  </div>
                </div>
                <div class='control-group'>
                  <label class='control-label' for='new_pass'>新密码</label>

                  <div class='controls'>
                    <input class='input-xlarge' type='password' id='new_pass' name='new_pass' size='30'/>
                  </div>
                </div>
                <input type='hidden' id='action' name='action' value='change_password'/>
                <input type='hidden' name='_csrf' value='<%= user.csrf %>'/>

                <div class='form-actions'>
                  <input type='submit' class='span-primary submit_btn ui-button' data-loading-text="更改中.." value='更改密码'/>
                </div>
              </form>
          </div>
        </div>


      </div>

      <!--<div id="upload-mask" class="upload-mask hidden" tabindex="-1" role="dialog" aria-labelledby="editorToolImageTitle" aria-hidden="true">
        <div class="upload-pop">
            <div class="modal-header">
                <span type="button" class="close" data-dismiss="modal" aria-hidden="true">×</span>
                <span id="editorToolImageTitle" class="title">修改头像</span>
            </div>
            <div class="modal-body">
                <span><img src="<%= user.avatar || '' %>" width="80" height="80"></span>
                <div class="upload-img">
                    <div class="button button-upload">上传图片</div>
                    <div class="button button-cancel">取消</div>
                    <span class="tip"></span>
                    <div class="alert alert-error hide"></div>
                </div>
            </div>
        </div>
    </div>-->

    </div>
  </div>
</div>





