<div class='user-panel'>
  <%- partial('./header') %>
  <div class='user-panel__content'> 
    <div class='user-panel__content__detail'>
      <%- partial('./nav') %>
      <div class='breadcrumb--content'>
        <div class='breadcrumb--content__section section--show'>
          <div class="user-title">我的文章</div>
          <% if(recent_topics && recent_topics.length > 0) { %>
            <%- partial('../topic/abstract', { collection: recent_topics, as: 'topic' }) %> 
            <%- partial('../common/page') %>
          <% } else { %>
            <div>没有文章</div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
