<div id="myModal" class="modal" tabindex="-1">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">x</button>
    <h3 id="myModalLabel">发布消息</h3>
  </div>
  <form class="form form-horizontal" method="post" id="messageForm" action="/admin/message?_csrf=<%= csrf %>">
    <div class="modal-body">
      <div class="form-group" id="title-group">
        <label class="control-label col-md-2" for="title">消息标题</label>
        <div id="title-group">
          <input type="text" class="form-control" id="title" name="message[title]" placeholder="消息标题">
          <span id="title-info" class="form-info"></span>
        </div>
      </div>
      <div class="form-group" id="content-group">
        <label class="control-label col-md-10" for="content">消息内容</label>
        <textarea class="form-control" id="content" name="message[content]" rows="5"></textarea>
        <span id="content-info" class="form-info"></span>
      </div>
    </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">发 布</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
  </div>
  </form>
</div>
</div>
