@card-bg: #f3f3f3;
@card-highlight: #2fa0ef;
@shadow-color: #ddd;

ul.activity-list {
    li {
        display: inline-block;
        width: 32%;
        @media screen and (max-width: 768px) {
            width: 100%;
        }

        a {
            display: block;
            margin: 10px;
            background-color: @card-bg;
            img {
                width: 100%;
            }

            &:hover {
                color: @card-highlight;
            }

            span {
                display: block;
                font-size: 10px;
            }
        }
    }
}
