.admin-container{
    padding-top: 30px;
    padding-bottom: 30px;
}

.block{
    padding: 20px 40px;
    border: 1px solid #dfdfdf;
    box-shadow: 0 4px 6px #ddd;

    .block-title{
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: bold;
        border-bottom: 1px solid #ddd;
    }
}