.header{
    &-title{
        float: left;
    }

    &-btn{
        float: right;
    }
}

 .modal{
    right: auto;
    bottom: auto;
}

.form{
    margin-bottom: 0;

    .control-label{
        margin-right: 20px;
    }

    .form-group{
        margin-bottom: 20px;
    }

    .form-control{
        width: 270px;
    }

    .form-text{
        width: 274px;
    }

    .form-info{
        display: none;
        color: red;
        margin-left: 4px;
    }

    .has-error{
        .form-control,.form-text{
            border-color: red;
        }
        

        .form-info{
            display: inline-block;
            color: red;
        }
    }
}

.th-10{
    width: 10%;
}

.th-50{
    width: 50%;
}