@card-bg: #f3f3f3;
@card-highlight: #2fa0ef;
@card-gray: #666;
@shadow-color: #ddd;

.query-list {
  border-bottom: 1px solid @shadow-color;
  a{
    display: inline-block;
    padding: 3px;
    color: @card-highlight;
    &.question-query{
      color: black;
      &:hover {
        color: @card-highlight;
      }
      &.current-query {
        color: @card-highlight;
        border-bottom: 3px solid @card-highlight;
      }
    }
  }
}

ul.question-list {
    li {
        margin-top: 10px;
        height: 130px;
        overflow: hidden;
        border-bottom: solid 1px @card-gray;

        >.fl{
          width: 65px;
          .avatar img{
            width: 56px;
            height: 56px;
            border-radius: 56px;
          }
          .status{
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            width: 56px;
            height: 56px;
            color: white;
            background-color: @card-highlight;
            border-radius: 56px;
            .fa{
              font-size: 25px;
            }
            .txt{
              font-size: 12px;
              line-height: 12px;
            }
          }
        }
        >.main{
          margin-left: 65px;
          .item-header{
            height: 65px;
            >.fr{
              text-align: right;
              width: 230px;
              font-size: 12px;
              .tag{
                color: @card-highlight;
              }
            }
            .main{
              margin-right: 230px;
              .relative{
                font-size: 14px;
                line-height: 20px;
                .item{
                  margin-right: 10px;
                }
              }
            }
          }
          .item-body{
            font-size: 12px;
            line-height: 20px;
            color: @card-gray;
            p{
              height: 60px;
              overflow: hidden;
            }
          }
        }
    }
}
