<div id="main" class="clearfix">
    <%- partial('common/sidebar.html') %>

    <div id='content'>
        <div class="panel edit-activity-panel">
            <div class="panel-head">
                <span class="panel-head-title">
              <% if(typeof(action) !== 'undefined' && action == 'edit'){ %>
              编辑活动
              <% }else{ %>
              发布活动
              <% } %>
          </span>
            </div>
            <div class="panel-body post">
            <% if(typeof(edit_error) !== 'undefined' && edit_error){ %>
            <div class="alert alert-error">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                <strong><%= edit_error %></strong>
            </div>
            <% } %>
            <% if(typeof(error) !== 'undefined' && error){ %>
            <div class="alert alert-error">
                <strong><%= error %></strong>
            </div>
            <% } %>
            <%
                var $post;
                var $activity_id;
                if (typeof(action) !== 'undefined' && action === 'edit') {
                  $post = '/activity/' + activity_id + '/edit';
                  $activity_id = activity_id;
                } else {
                  $post = '/activity/save';
                  $activity_id = '';
                }
            %>
            <form id='create_activity_form' action='<%= $post %>' method='post'>
                <div id="activity_create_warn"></div>
                <div class="control-group">
                    <label class="control-label" for="tab-value">选择版块：</label>
                    <div class="controls">
                        <select name="tab" id="tab-value">
                          <option value="">请选择</option>
                          <option value="imweb" <%= tabValue === 'imweb' ? 'selected': '' %>>imweb</option>
                          <option value="行业" <%= tabValue === '行业' ? 'selected': '' %>>行业</option>
                        </select>
                      </div>
                  </div>
                  <div class="control-group">
                      <div class='markdown_editor in_editor'>
                          <div class='markdown_in_editor'>
                              <textarea class='editor' id='t_content' name='t_content' rows='20' placeholder='文章支持 Markdown 语法, 请注意标记代码'><%= typeof(content) !== 'undefined' && content || '' %><%= typeof(content_from_marktang) !== 'undefined' && content_from_marktang || '' %></textarea>
                          </div>
                      </div>
                  </div>
                  <div class="form-actions">
                      <input type='hidden' id='activity_tags' name='activity_tags' value=''>
                      <input type='hidden' id='_csrf' name='_csrf' value='<%= csrf %>'>
                      <button class="ui-button" type="submit">提交</button>
                  </div>
              </form>
            </div>
        </div>
    </div>
</div>
