<div id="main" class="clearfix">
    <div class="panel edit-activity-panel">
        <div class="panel-head">
          <% if(typeof(action) !== 'undefined' && action == 'edit'){ %>
          编辑问题
          <% }else{ %>
          发布问题
          <% } %>
        </div>
        <div class="panel-body post">
        <% if(typeof(edit_error) !== 'undefined' && edit_error){ %>
        <div class="alert alert-error">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <strong><%= edit_error %></strong>
        </div>
        <% } %>
        <% if(typeof(error) !== 'undefined' && error){ %>
        <div class="alert alert-error">
            <strong><%= error %></strong>
        </div>
        <% } %>
        <%
            var $post,$title,$content;
            if (typeof(action) !== 'undefined' && action === 'edit') {
              $post = '/question/' + question_id + '/edit';
              $title = title;
              $content = content;
            } else {
              $post = '/question/create';
              $title = '';
              $content = '';
            }
        %>
          <form id='create_question_form' action='<%= $post %>' method='post'>
            <div id="activity_create_warn"></div>
            <div class="control-group">
              <label class="control-label" for="title">活动标题：</label>
              <input type="text" name="title" id="title" value="<%= $title %>"/>
            </div>
            <div class="control-group">
                <label class="control-label" for="tab-value">选择版块：</label>
                <select name="tab" id="tab-value">
                  <% tabs.forEach(function (pair) {
                      var value = pair[0];
                      var text = pair[1]; %>
                      <option value="<%= value %>" <%= typeof(tab) !== 'undefined' && tab === value ? 'selected': '' %>><%= text %></option>
                  <% }) %>
                </select>
              </div>
              <div class="control-group">
                  <div class='markdown_editor in_editor'>
                      <div class='markdown_in_editor'>
                          <textarea class='editor' id='t_content' name='content' rows='20' placeholder='文章支持 Markdown 语法, 请注意标记代码'><%= $content %></textarea>
                      </div>
                  </div>
              </div>
              <div class="form-actions">
                  <input type='hidden' id='_csrf' name='_csrf' value='<%= csrf %>'>
                  <button class="ui-button" type="submit">提交</button>
              </div>
          </form>
        </div>
    </div>
</div>
