<script>
    imweb.question = {
        id: '<%= question.id %>',
        reply_up_threshold: <%= question.reply_up_threshold %>,
        author: {
            name: '<%= question.author.name %>',
            loginname: '<%= question.author.loginname %>'
        },
        replies: <%- inlineScript(JSON.stringify(question.replies)) %>
    };
    imweb.answer = <%- inlineScript(JSON.stringify(answer)) %>;

    var RICH_META = {
        name :'<%= question.title %>',
        author :'<%= question.author.name %>',
        img : '<%= question.pic && question.pic[0] %>'||'http://imweb.io/public/images/logo-white.png'
    }
</script>

<div id="banner">
    <div class="inner">
        <ul class="tab-list">
            <% tabs.forEach(function (pair) {
                var value = pair[0];
                var text = pair[1]; %>
                <li class="topic-tab"><a href="<%= value ? '/question/tab/' + value : '/' %>"><%= text %></a></li>
            <% }) %>
        </ul>
    </div>
</div>
<div id="questionHeader">
  <div class="inner">
    <div class="side">
      <button class="ui-button-white collect-question-btn"><%= is_collect ? '取消收藏' : '收藏' %></button>

      <ul class="other-info">
        <li>
          <span><%= question.visit_count %></span>浏览
        </li>
        <li>
          <span class="reply-count"><%= question.reply_count %> </span>评论
        </li>
        <li>
          <span class="collect-count"><%= question.collect_count %></span>收藏
        </li>
      </ul>
    </div>
    <div class="main">
      <h1 class="detail-title"><i class="ico fa fa-question-circle" aria-hidden="true"></i><%- question.title %></h1>
      <div class="about">
        <%if(question.tabName){var link = "#";%>
          <%for(var i=0,len=tabs.length;i<len;i++){if(tabs[i][1] == question.tabName){link = "/tab/"+tabs[i][0];}}%>
          <a class="ui-tag ui-tag-blue" href="<%=link%>"><%= question.tabName %></a>
        <%}%>
        <a class="user-name" href="/user/<%= question.author.loginname %>/index"><%= question.author.name || question.author.loginname%></a>
        <span class="ui-time"><i class="icon iconfont">&#xe605;</i><%= question.friendly_create_at %></span>
        <span class="origin">原文出处:<a href="http://imweb.io/question/<%= question.id %>">imweb社区</a>(未经同意，禁止转载)</span>
      </div>
    </div>
  </div>
</div>
<div id="main" class="clearfix">
    <%- partial('common/sidebar.html',{
        tops: tops
    }) %>

    <div id='content'>
      <div class='panel'>
        <div class="detail-info hidden">
          <img class="ui-avatar ui-avatar-50 user-slider-btn js-identicon" src="<%= question.author.avatar  %>"  data-name="<%= question.author.loginname %>"/>
          <div class="user-wrap">
            <a class="user-name user-slider-btn" data-name="<%= question.author.loginname %>"><%= question.author.name || question.author.loginname%></a>
            <span class="ui-time"><i class="icon iconfont">&#xe605;</i><%= question.friendly_create_at %></span>
          </div>
          <ul class="other-info">
            <li>
              <p><%= question.visit_count %> </p>
              <span>浏览</span>
            </li>
            <li>
              <p class="reply-count"><%= question.reply_count %> </p>
              <span>评论</span>
            </li>
            <li>
              <p class="collect-count"><%= question.collect_count %></p>
              <span>收藏</span>
            </li>
          </ul>
        </div>
        <div class='detail-header hidden'>
          <h1 class="detail-title"><%- question.title %></h1>
          <%if(question.reprint){%>
            <div class="cell-from">
              <%
              var host = question.reprint;
              var regex = /.*\:\/\/([^\/]*).*/;
              var match = question.reprint.match(regex);
              if(typeof match != "undefined" && null != match) host = match[1];
              %>
              转载自<a href="<%=question.reprint%>" class="cell-reprint ex-link" target="_blank"><%=host%></a>
            </div>
          <%}%>
          <div class="title-wrap">
            <%if(question.tabName){var link = "#";%>
              <%for(var i=0,len=tabs.length;i<len;i++){if(tabs[i][1] == question.tabName){link = "/tab/"+tabs[i][0];}}%>
              <a class="ui-tag ui-tag-blue" href="<%=link%>"><%= question.tabName %></a>
            <%}%>
            <% if (current_user) { %>
              <div class="btn-wrap">
                  <% if (current_user._id.equals(question.author.id)) { %>
                  <a href='/question/<%= question.id %>/edit' class="btn-ico">
                    <i class="ico fa fa-lg fa-pencil-square-o" title='编辑'></i>
                  </a>
                  <a href='javascript:;' class='delete-question-btn btn-ico'>
                     <i class="ico fa fa-lg fa-trash" title='删除'></i>
                  </a>
                  <% } %>
                  <% if (!is_collect) { %>
                  <span class='ico fa fa-heart-o collect-question-btn' title='收藏'></span>
                  <% } else { %>
                  <span class='ico fa fa-heart collect-question-btn' title='取消收藏'></span>
                  <% } %>
              </div>
            <% } %>
          </div>
        </div>
        <div class='detail-content'>
            <div class="markdown-text">
                <%- markdownRender(question.content) %>
            </div>
            <% if (current_user && (current_user._id.equals(question.author.id) || current_user.is_admin)) { %>
            <a href='/question/<%= question.id %>/edit' class="btn-ico">
              <i class="ico fa fa-lg fa-pencil-square-o" title='编辑'></i>
            </a>
            <a href='javascript:;' class='delete-question-btn btn-ico'>
               <i class="ico fa fa-lg fa-trash" title='删除'></i>
            </a>
            <% } %>
        </div>
      </div>

      <% if (typeof(question) !== 'undefined') { %>
      <div class='reply-panel'>
          <div class="editor-wrap">
              <textarea class="editor"></textarea>
          </div>
          <div class="editor-actions">
              <button class="ui-button reply-submit fr" type="button">评论一下</button>
          </div>
          <% if(!current_user) {%>
            <div id="deckText">
              <div class="inner">
                <p>
                  您需要 <a class="nav-sign" href="javascript:void(0);">注册</a> 一个imweb账号或者
                  <a class="nav-login" href="javascript:void(0);">登录</a> 才能进行评论。
                </p>
              </div>
            </div>
          <%}%>
      </div>
      <% } %>

      <div class="panel reply-panel <%if(question.reply_count == 0){%>hide<% } %>">
          <div class="panel-head">
              <span class="panel-head-title"><span class="reply-count"><%= question.reply_count %></span>  条评论</span>
          </div>
          <div class='panel-body'>
              <ul id="reply-list"></ul>
          </div>
      </div>
    </div>
</div>
