<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if (typeof(topic) !== 'undefined') { %>
    <title>
      <%= topic.title %> -
        <%= config.name %>
    </title>
    <% } else if (typeof(pageTitle) !== 'undefined') { %>
      <title>
        <%= pageTitle %> -
          <%= config.name %>
      </title>
      <% } else { %>
        <title>
          <%= config.description %>
        </title>
        <% } %>
          <meta name="description" content="Web前端 腾讯IMWeb 团队社区">
          <meta name="keywords" content="前端交流,前端社区,前端,iconfont,javascript,html,css,webfront,nodejs, node, express, connect, socket.io, lego.imweb.io">
          <meta name="author" content="imwebteam@tencent">
          <!--<link rel="icon" href="../images/icon.png" type="image/x-icon">-->
          <script src="//7.url.cn/edu/jslib/jquery/1.9.1/jquery.min.js"></script>
          <script>
            window.imweb = window.imweb || {};
            imweb._csrf = '<%- csrf %>';
            <% if (current_user) { %>
            imweb.user = {
              id: '<%= current_user._id %>',
              loginname: '<%= current_user.loginname %>',
              is_admin: <%= typeof(current_user.is_admin) !== 'undefined' && current_user.is_admin %>
            };
            <% } else { %>
            imweb.user = null;
            <% } %>

          </script>
</head>

<body>
  <%- partial('common/header.html') %>
    <div id="main" class="clearfix">
      <%- partial('common/sidebar.html') %>
        <div id="content">
          <nav class="index-nav">
            <a href="/column/list">专栏列表</a>>
            <span><%= column.title %>专栏</span>
          </nav>
          <div class="index-header clearfix">
            <div class="header-img">
              <img src="<%= column.cover %>">
            </div>
            <div class="header-text">
              <h2>
                <span class="title"><%= column.title %>专栏</span>
                <span class="addon"><%= column.description %></span>
              </h2>
              <p>
                <span class="article"><%= column.topic_count %>篇文章</span>
                <span class="watch"><%= column.follower_count %>人已关注</span>
              </p>
            </div>
            <div class="header-btn">
              <button type="button" class="btn follow-btn" data-id=<%= column.id %>>关注</button>
              <a href="/column/<%= column_id %>/edit" class="link-btn">修改专栏</a>
            </div>
          </div>
          <ul>
            <% topics.forEach(function(topic){ %>
              <li class="article-item clearfix">
              <div class="article-head">
                <a href="#"><img src="../../images/activity1.jpg"></a>
              </div>
              <div class="article-content">
                <div class="clearfix">
                  <div class="article-title">
                    <h3><a href=<%= topic.title %>><%= topic.title %></a></h3>
                    <p>
                      <span><%= topic.author.name %>于<%= topic.friendly_create_at %>发表</span>
                      <span class="title-icon"><i class="fa fa-eye"></i><%= topic.reply_count %></span>
                      <span class="title-icon"><i class="fa fa-weixin"></i>0</span>
                      <span class="title-icon"><i class="fa fa-heart"></i>0</span>
                    </p>
                  </div>
                  <div class="article-tag">
                    <div><i></i><%= topic.friendly_create_at %></div>
                  </div>
                </div>
                <p class="article-text">
                  <%= topic.summary %>
                </p>
              </div>
            </li>
            <% }) %> 
          </ul>
        </div>

         <div class="pagination" current_page="<%= current_page %>">
      <ul>
        <% var base='/column/'+column.id %>
        <% var base_url = base + (base.indexOf("?") < 0 ? "?" : "&") + "page="; %>
        <% if (current_page == 1) { %>
        <li class="disabled btn-step"><i class="fa fa-backward"></i></li>
        <% } else { %>
        <li class="btn-step" title="首页"><a href="<%= base_url %>1"><i class="fa fa-step-backward"></i></a></li>
        <li class="btn-step" title="前一页"><a href="<%= base_url %><%= (current_page-1) %>"><i class="fa fa-backward"></i></a></li>
        <% } %>

        <%
        var page_start = current_page - 2 > 0 ? current_page - 2 : 1;
        var page_end = page_start + 4 >= pages ? pages : page_start + 4;
        %>

        <% if (page_start > 1) { %>
        <li><a>...</a></li>
        <% } %>

        <% for(var i = page_start; i <= page_end; i++) { %>
        <% if (i === current_page) { %>
        <li class="disabled"><a><%= i %></a></li>
        <% } else { %>
        <li title="<%= i %>"><a href="<%= base_url + i %>"><%= i %></a></li>
        <% } %>
        <% } %>

        <% if (page_end < pages ) { %>
        <li><a>...</a></li>
        <% } %>

        <% if (current_page == pages) { %>
        <li class="disabled btn-step"><i class="fa fa-forward"></i></li>
        <% } else { %>
        <li class="btn-step" title="下一页"><a href="<%= base_url + (current_page+1) %>"><i class="fa fa-forward"></i></a></li>
        <li class="btn-step" title="尾页"><a href="<%= base_url + pages %>"><i class="fa fa-step-forward"></i></a></li>
        <% } %>
      </ul>
    </div>

    </div>
    <%- partial('common/loginpop.html') %>
      <%- partial('common/footer.html') %>
</body>
