<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if (typeof(topic) !== 'undefined') { %>
    <title>
      <%= topic.title %> -
        <%= config.name %>
    </title>
    <% } else if (typeof(pageTitle) !== 'undefined') { %>
      <title>
        <%= pageTitle %> -
          <%= config.name %>
      </title>
      <% } else { %>
        <title>
          <%= config.description %>
        </title>
        <% } %>
          <meta name="description" content="Web前端 腾讯IMWeb 团队社区">
          <meta name="keywords" content="前端交流,前端社区,前端,iconfont,javascript,html,css,webfront,nodejs, node, express, connect, socket.io, lego.imweb.io">
          <meta name="author" content="imwebteam@tencent">
          <!--<link rel="icon" href="../images/icon.png" type="image/x-icon">-->
          <script src="//7.url.cn/edu/jslib/jquery/1.9.1/jquery.min.js"></script>
          <script>
            window.imweb = window.imweb || {};
            imweb._csrf = '<%- csrf %>';
            <% if (current_user) { %>
            imweb.user = {
              id: '<%= current_user._id %>',
              loginname: '<%= current_user.loginname %>',
              is_admin: <%= typeof(current_user.is_admin) !== 'undefined' && current_user.is_admin %>
            };
            <% } else { %>
            imweb.user = null;
            <% } %>

          </script>
</head>

<body>
  <%- partial('common/header.html') %>
    <div id="main" class="clearfix">
      <%- partial('common/sidebar.html') %>
        <div id="content">
          <nav class="bread-nav">
            <a href="/column/list">专栏列表</a> >
            <span><%= column.title %>专栏</span>
          </nav>
          <div class="index-header clearfix">
            <div class="header-img" style="background-image: url(<%= column.cover %>)">
              
            </div>
            <div class="header-text">
              <h2>
                <span class="title"><%= column.title %>专栏</span>
                <span class="addon"><%= column.description %></span>
              </h2>
              <p>
                <span class="article"><%= column.topic_count %>篇文章</span>
                <span class="watch"><%= column.follower_count %>人已关注</span>
              </p>
            </div>
            <div class="header-btn">
              <span id="column-id" class="hide"><%= column.id %></span>
              <button type="button" class="btn btn-default <%= is_follow?'':'hide' %> <%= current_user?'cancel-btn':'nav-login' %>" data-id=<%= column.id %>>取消关注</button>
              <button type="button" class="btn <%= is_follow?'hide':'' %> <%= current_user?'follow-btn':'nav-login' %>" data-id=<%= column.id %>>关注</button>
              <% if(current_user && current_user.is_admin){ %>
              <a href="/column/<%= column_id %>/edit" class="link-btn">修改专栏</a>
              <% } %>
            </div>
          </div>
          <% if(topics.length){ %>
          <ul id="topic-list">
            <% topics.forEach(function(topic){ %>
              <li class="article-item clearfix">
              <div class="article-head">
                <a href="user/<%= topic.author.loginname %>/index"><img src=<%= topic.author.avatar %>></a>
              </div>
              <div class="article-content">
                <div class="clearfix">
                  <div class="article-title">
                    <h3><a href=<%= '/topic/'+topic.id %>><%= topic.title %></a></h3>
                    <p>
                      <span><%= topic.author.name || topic.author.loginname %>于<%= topic.friendly_create_at %>发表</span>
                      <span title="浏览" class="title-icon"><i class="fa fa-eye"></i><%= topic.visit_count || 0 %></span>
                      <span title="评论" class="title-icon"><i class="fa fa-weixin"></i><%= topic.reply_count || 0 %></span>
                      <span title="收藏" class="title-icon"><i class="fa fa-heart"></i><%= topic.collect_count || 0 %></span>
                    </p>
                  </div>
                  <% if(current_user && current_user.is_admin){ %>
                  <div class="article-tag">
                    <button type="button" class="btn btn-default delete-btn" data-tid=<%= topic.id %>>移除文章</button>
                    <p class="delete-info"></p>
                  </div>
                  <% } %>
                </div>
                <p class="article-text">
                  <%= topic.summary %>
                </p>
              </div>
            </li>
            <% }) %> 
          </ul>        
        <%- partial('../common/page') %>
    <% }else{ %>
    <p class="no-item">当前专栏还没有文章，请联系管理员速速添加吧^_^</p>
    <% } %>
        </div>

    </div>
    <%- partial('common/loginpop.html') %>
      <%- partial('common/footer.html') %>
</body>
