<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if (typeof(topic) !== 'undefined') { %>
    <title>
      <%= topic.title %> -
        <%= config.name %>
    </title>
    <% } else if (typeof(pageTitle) !== 'undefined') { %>
      <title>
        <%= pageTitle %> -
          <%= config.name %>
      </title>
      <% } else { %>
        <title>
          <%= config.description %>
        </title>
        <% } %>
          <meta name="description" content="Web前端 腾讯IMWeb 团队社区">
          <meta name="keywords" content="前端交流,前端社区,前端,iconfont,javascript,html,css,webfront,nodejs, node, express, connect, socket.io, lego.imweb.io">
          <meta name="author" content="imwebteam@tencent">
          <!--<link rel="icon" href="../images/icon.png" type="image/x-icon">-->
          <script src="//7.url.cn/edu/jslib/jquery/1.9.1/jquery.min.js"></script>
          <script>
            window.imweb = window.imweb || {};
            imweb._csrf = '<%- csrf %>';
            <% if (current_user) { %>
            imweb.user = {
              id: '<%= current_user._id %>',
              loginname: '<%= current_user.loginname %>',
              is_admin: <%= typeof(current_user.is_admin) !== 'undefined' && current_user.is_admin %>
            };
            <% } else { %>
            imweb.user = null;
            <% } %>

          </script>
</head>

<body>
  <%- partial('common/header.html') %>
    <div id="main" class="clearfix">
      <%- partial('common/sidebar.html') %>
        <div id="content">
          <div class="column-nav clearfix">
            <div class="list-left">
              <a href="?sort=hot" class="active">热门</a> |
              <a href="?sort=latest">最新</a>
            </div>
            <div class="list-right">
              <a href="/column/create">创建专栏</a>
            </div>
          </div>
          <ul class="column-list">
            <% 
            <li class="column-item clearfix">
              <div class="list-head">
                <a href="#"><img src="../../images/activity1.jpg" alt="用户头像"></a>
              </div>
              <div class="list-img">
                <div class="follow">
                  <button type="button">已关注</button>
                </div>
                <div class="thumbnail">
                  <img src="../../images/activity1.jpg" alt="专栏图片">
                </div>
              </div>
              <div class="list-content">
                <h3><a href="#">结一老师的重构专栏</a></h3>
                <p class="content-sub">
                  <span>12篇文章</span>
                  <span>22人关注</span>
                </p>
                <p class="content-desc">
                  丰富资源，顶级众创空间专属标签 如何去衡量一个众创空间？一流硬件、一流物管、一流区位、一流配套等等，可以说是当下众创空间的“标准配置”。目前，国内众创空间众多，已经步入同行质化竞争的漩涡！顶级众创空间以何突出重围？一些专家建议：资源型的众创空间是个不错的选择。
                  百度（常州）创新中心于2017年5月16日圆满落户常州。这是长三角地区首个由常州市钟楼区政府、百度公司、三艾网络共同打造的创新平台。依托常州市科技街的地域优势、科研平台资源，为创新创业型企业提供业务创新和
                </p>
              </div>
            </li>
          </ul>
        </div>
        
    </div>
    <%- partial('common/loginpop.html') %>
    <%- partial('common/footer.html') %>
</body>
