<!DOCTYPE html>
<html>

<head>
  <%- partial('common/header.html') %>
</head>

<body>
  <%- partial('common/navhead.html') %>
    <div id="main" class="clearfix">
      <%- partial('common/sidebar.html') %>
        <div id="content">
          <div class="column-nav clearfix">
            <div class="list-left">
              <a href="?sort=hot" class="<%= sort==='hot'?'active':'' %>">热门</a> |
              <a href="?sort=latest" class="<%= sort==='latest'?'active':'' %>">最新</a>
            </div>
            <% if(current_user && current_user.is_admin){ %>
            <div class="list-right">
              <a href="/column/create">创建专栏</a>
            </div>
            <% } %>
          </div>
          <% if(columns.length){ %>
          <ul class="column-list">
            <% columns.forEach(function(column){ %>
            <li class="column-item clearfix">
              <div class="list-img">
                <div class="follow">
                  <button type="button" class="btn btn-default <%= column.is_follow?'':'hide' %> <%= current_user?'cancel-btn':'nav-login' %>" data-id=<%= column.id %>>取消关注</button>
                  <button type="button" class="btn <%= column.is_follow?'hide':'' %> <%= current_user?'follow-btn':'nav-login' %>" data-id=<%= column.id %>>关注</button>
                  <span class="info"></span>
                </div>
                <div class="thumbnail" style="background-image: url(<%= column.cover %>)"></div>
              </div>
              <div class="list-content">
                <h3><a href="/column/<%= column.id %>"><%= column.title %>专栏</a></h3>
                <p class="content-sub">
                  <span><%= column.topic_count %>篇文章</span>
                  <span class="follow-num"><%= column.follower_count %></span>人关注
                </p>
                <p class="content-desc">
                  <%= column.description %>
                </p>
              </div>
            </li>
            <% }) %>
          </ul>
          <%- partial('common/page.html') %>
    <% }else{ %>
      <p class="no-item">专栏列表空空如也，请联系管理员速速添加吧^_^</p>
    <% } %>
        </div>

    </div>
    <%- partial('common/loginpop.html') %>
    <%- partial('common/footer.html') %>
</body>
