@ui-white: #FFF;
@ui-blue: #38B7EA;
@ui-gray: #DDD;

.editor-actions{
  min-height: 40px;
}

.detail-info {
  display: flex;
  .user-avator {
    flex-grow:1;
    text-align: center;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
  .user-name {
    flex-grow:6;
  }
  .user-info {
    flex-grow:3;
    display: flex;
    text-align: center;
    li {
      flex-grow: 1;
    }
  }
}

.detail-header {
    padding-left: 0px;
    background-color: white;
    border-bottom: 1px solid @ui-gray;
    .detail-title {
        font-weight: normal;
        margin-top: 20px;
        font-size: 24px;
        border-left: 5px solid @ui-blue;
        padding-left: 30px;
    }
    .cell-from {
        color: #999;
        line-height: 14px;
        margin-top: 20px;
        padding-left: 35px;
        .cell-reprint {
            border: 1px solid #fff;
            border-radius: 100px;
            font-weight: normal;
            padding: 0 5px;
            margin-left: 5px;
            &:hover {
                border: 1px solid @ui-blue;
            }
        }
    }
    .title-wrap {
        padding: 0 30px;
        height: 30px;
    }
    .btn-wrap{
      float: right;
      .ico{
        cursor: pointer;
        margin: 3px;
        &:hover{
          color: @ui-blue;
        }
      }
    }
}

.detail-content{
  padding: 10px;
}
