<% if (message.has_read) { %>
<div class='message-item' message_id='<%= message._id %>'>
  <% } else { %>
  <div class='message-item' message_id='<%= message._id %>'>
    <% } %>
    <% if(message.type == 'reply'){ %>
		<p>
			<a href="/user/<%= message.author.loginname %>/index" target='_blank'><%= message.author.loginname %></a>
			回复了你的文章
			<a href="/topic/<%- message.topic._id + (message.reply ? '#' + message.reply._id : '') %>" target='_blank'><%=
        message.topic.title %></a>
		</p>
    <% } %>
    <% if(message.type == 'reply2'){ %>
		<p>
			<a href="/user/<%= message.author.loginname %>/index" target='_blank'><%= message.author.loginname %></a>
			在文章
			<a href="/topic/<%= message.topic._id + (message.reply ? '#' + message.reply._id : '') %>" target='_blank'><%=
        message.topic.title %></a>
			中回复了你的回复
		</p>
    <% } %>
    <% if(message.type == 'follow'){ %>
	<p>
		<a href="/user/<%= message.author.loginname %>/index" target='_blank'><%= message.author.loginname %></a>
		关注了你
	</p>
    <% } %>
    <% if (message.type == 'at'){ %>
		<p>
			<a href="/user/<%= message.author.loginname %>/index" target='_blank'><%= message.author.loginname %></a>
			在文章
			<a href="/topic/<%= message.topic._id + (message.reply ? '#' + message.reply._id : '') %>" target='_blank'><%=
        message.topic.title %></a>
			中@了你
		</p>
    <% } %>
		<% if(message.type==='column'){ %>
		<p>
			你关注的
			<a href="/column/<%= message.column._id %>" target="_blank"><%= message.column.title %></a>
			专栏更新了，快去看看吧
		</p>
		<% } %>
		<% if(message.type==='question'){ %>
		<p>
			<a href="/user/<%= message.author.loginname %>/index" target="_blank"><%= message.author.loginname %></a>
			回答了你的问题
			<a href="/question/<%= message.question._id %>" target="_blank"><%= message.question.title %></a>
		</p>
		<% } %>
  </div>
