<link href="/libs/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />

<!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<script>
  window.imweb = window.imweb || {};
  imweb._csrf = '<%- csrf %>';
  <% if (typeof(current_user) !== 'undefined') { %>
  imweb.user = {
    id: '<%= current_user._id %>',
    loginname: '<%= current_user.loginname %>',
    is_admin: <%= typeof(current_user.is_admin) !== 'undefined' && current_user.is_admin %>
  };
  <% } else { %>
  imweb.user = null;
  <% } %>

</script>

<div class="container-fluid admin-container">
  <div class="row-fluid">
    <%- partial('../sidebar') %>
      <div class="span10">
        <div class="row-fluid">
          <div class="page-header">
            <h1>专栏</h1>
          </div>
          <% if(columns.length){ %>
            <table class="table table-striped table-bordered table-condensed" style="table-layout:fixed;word-break:break-all;" width="100%">
              <thead>
                <tr>
                  <th class="hide">id</th>
                  <th width="10%">标题</th>
                  <th width="20%">描述</th>
                  <th width="10%">创建人</th>
                  <th width="10%">关注数</th>
                  <th width="10%">文章数</th>
                  <th width="10%">创建时间</th>
                  <th width="10%">更新时间</th>
                  <th width="10%"></th>
                </tr>
              </thead>
              <tbody>
                <% columns.forEach(function(column){ %>
                  <tr>
                    <td class="hide column-id">
                      <%= column.id %>
                    </td>
                    <td>
                      <%= column.title %>
                    </td>
                    <td>
                      <%= column.description %>
                    </td>
                    <td>
                      <%= column.owner.name %>
                    </td>
                    <td>
                      <%= column.follower_count %>
                    </td>
                    <td>
                      <%= column.topic_count %>
                    </td>
                    <td>
                      <%= column.friendly_create_at %>
                    </td>
                    <td>
                      <%= column.friendly_update_at %>
                    </td>
                    <td><button type="button" class="btn btn-default btn-delete">删除</button></td>
                  </tr>
                  <% }) %>
              </tbody>
            </table>
            <p class="alert hide" id="handle-info"></p>
            <%- partial('../../common/page') %>
            <% }else{ %>
              <p class="no-item">专栏列表空空如也，快添加你的专栏吧^_^</p>
              <% } %>
        </div>
      </div>
  </div>
</div>

<script src="/libs/bootstrap/js/jquery.js"></script>
<script src="/libs/bootstrap/js/bootstrap.min.js"></script>
