<div id="footer">
    <div class="inner">
        <ul class="link-list">
            <li class="title">友情链接</li>
            <li><a href="//ke.qq.com/">腾讯课堂</a></li>
            <li><a href="//imweb.github.io/">腾讯IMWeb</a></li>
            <li><a href="//www.alloyteam.com/">腾讯alloyteam</a></li>
            <li><a href="//isux.tencent.com/">腾讯ISUX</a></li>
            <li><a href="//ur.tencent.com/">腾讯高校合作</a></li>
            <li><a href="//tpai.qq.com/">T派校园</a></li>
            <li><a href="//ued.taobao.org/blog/">淘宝UED</a></li>
            <li><a href="//fex.baidu.com/">百度FEX</a></li>
            <li><a href="//www.w3ctech.com/">w3ctech</a></li>
            <li><a href="//www.w3cplus.com/">w3cplus</a></li>
            <li><a href="//www.html-js.com/">前端乱炖</a></li>
        </ul>
        <ul class="link-list">
            <li class="title">我们的开源</li>
            <li><a href="//github.com/imweb/FKB">前端知识库</a></li>
            <li><a href="//iconfont.imweb.io/">iconfont</a></li>
            <li><a href="//github.com/imweb/Q.js">Q.js</a></li>
            <li><a href="//lego.imweb.io/">lego</a></li>
            <li><a href="//github.com/BetterJS">badjs</a></li>
        </ul>
        <ul class="link-list">
            <li class="title">合作伙伴</li>
            <li><a href="//www.html5cn.org/">HTML5中国</a></li>
        </ul>
        <div class="footer-about">
            <div class="social-list">
                <a href="http://weibo.com/u/5623195454" target="_blank">
                    <img src="../../images/weibo.png" />
                </a>
                <a href="//github.com/imweb" target="_blank">
                    <img src="../../images/github.png" />
                </a>
                <a href="//zhuanlan.zhihu.com/imweb" target="_blank">
                    <img src="../../images/zhihu.png" />
                </a>
            </div>
            <div class="introduce">
                <a href="javascript:void(0);"><img src="../../images/footerLogo.png" /></a>
                <p>IMWEB团队</a>正式成立是时间是2011年6月7日，目前主要负责腾讯在线教育战略产品腾讯课堂，多人社交互动视频以及活动组织类项目的研发工作。</p>
            </div>
        </div>
        <div class="footer-sub">
            Copyright © 2016-2024; <a href="//imweb.io">imweb.io</a>.
            <br/> All Rights Reserved.&nbsp;<a href="//imweb.github.io">imwebteam</a> 版权所有
        </div>

    </div>
</div>