<!--网站测速-->
    <script type="text/javascript">var _speedMark = new Date();</script>
    <!--网站测速-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if (typeof(topic) !== 'undefined') { %>
    <title><%= topic.title %> - <%= config.name %></title>
    <% } else if (typeof(pageTitle) !== 'undefined') { %>
    <title><%= pageTitle %> - <%= config.name %></title>
    <% } else { %>
    <title><%= config.description %></title>
    <% } %>
    <meta name="description" content="Web前端 腾讯IMWeb 团队社区">
    <meta name="keywords" content="前端交流,前端社区,前端,iconfont,javascript,html,css,webfront,front-end,nodejs,react,vue,pwa,react-native,node,express,connect,socket.io,lego.imweb.io">
    <meta name="author" content="imwebteam@tencent">
    <script src="//7.url.cn/edu/jslib/jquery/1.9.1/jquery.min.js"></script>
    <script>
    window.imweb = window.imweb || {};
    imweb._csrf = '<%- csrf %>';
    <% if (current_user) { %>
        imweb.user = {
            id: '<%= current_user._id %>',
            loginname: '<%= current_user.loginname %>',
            is_admin: <%= typeof(current_user.is_admin) !== 'undefined' && current_user.is_admin %>
        };
    <% } else { %>
        imweb.user = null;
    <% } %>
    </script>
