<div id="header">
    <div class="inner">
        <div class="fl">
            <a href="/">
                <img src="../../images/logo.png">
            </a>
        </div>
        <div class="fr">
            <div class="middle">
                <form class="search" name="searchForm" action="/search" method="post">
                    <input name="search" type="text" value="" placeholder="输入关键字搜索文章/问题" autocomplete="on">
                    <span class="search-btn" onclick="document.searchForm.submit.click();"></span>
                    <button type="submit" name="submit"></button>
                </form>
                <% if (current_user) {%>
                  <a id="nav-post-menu" href="javascript:void(0);" class="user-post-btn ico"></a>
                  <ol id="nav-post-menu-layer" class="ui-dropdown-layer">
                      <li>
                          <a href="/marktang/index?autoOpenInfo=true">发布文章</a>
                      </li>
                      <li>
                          <a href="javascript:void(0);">发布问题</a>
                      </li>
                  </ol>
                  <a href="javascript:void(0);" class="user-message-btn ico"></a>
                  <a id="nav-user-menu" href="javascript:void(0);" class="user-user-btn ico" data-name="<%= current_user.loginname %>"></a>
                  <ol id="nav-user-menu-layer" class="ui-dropdown-layer">
                      <li>
                          <a href="javascript:void(0);">我的主页</a>
                      </li>
                      <% if (current_user.is_admin) { %>
                      <li>
                          <a href="javascript:void(0);">后台管理</a>
                      </li>
                      <% } %>
                      <li>
                          <a href="javascript:void(0);">设置</a>
                      </li>
                      <li>
                          <a href="/signout">退出登录</a>
                      </li>
                  </ol>
                <% } else { %>
                  <a href="javascript:void(0);" class="user-login-btn">登陆</a>
                <% } %>
            </div>
        </div>
        <div class="center">
            <ul class="menu-list">
                <li><a href="javascript:void(0);">文章</a></li>
                <li><a href="javascript:void(0);">问答</a></li>
                <li><a href="javascript:void(0);">专题</a></li>
                <li><a href="javascript:void(0);">活动</a></li>
                <li><a href="javascript:void(0);">名人堂</a></li>
                <li><a id="nav-team-menu" href="javascript:void(0);">Imweb团队</a></li>
            </ul>
        </div>
    </div>
</div>
<ol id="nav-team-menu-layer" class="ui-dropdown-layer">
    <li>
        <a href="javascript:void(0);">开源组件</a>
    </li>
    <li>
        <a href="javascript:void(0);">招聘</a>
    </li>
    <li>
        <a href="javascript:void(0);">关于我们</a>
    </li>
</ol>
