<div id="sidebar">
    <% if (current_user) { %>
    <div class="box profile">
        <a href="/user/<%= current_user.loginname %>/index">
          <div class="avatar">
              <% if (current_user.avatar) { %>
                <img src="<%= current_user.avatar %>">
              <% } else { %>
                <img src="../../images/avatarDefault.jpg">
              <% } %>
          </div>
        </a>
        <div class="name"><%= current_user.name || current_user.loginname %></div>
        <ul class="contribution-list">
            <li>
                <b><%= current_user.topic_count || 0%></b>
                <span class="title">文章</span>
            </li>
            <li>
                <b><%= current_user.question_count || 0%></b>
                <span class="title">问答</span>
            </li>
        </ul>
    </div>
    <% } else { %>
    <a class="box radius" href="/auth/weibo">
      <img src="../../images/weiboColor.png" class="ico"/>使用微博登陆
    </a>
    <!--<a class="box radius" href="javascript:void(0);">
      <img src="../../images/weixinColor.png" class="ico"/>使用微信登陆
    </a>-->
    <a class="box radius" href="/auth/github">
      <img src="../../images/githubColor.png" class="ico"/>使用Github登陆
    </a>
    <!--<a class="box radius" href="javascript:void(0);">
      <img src="../../images/qqColor.png" class="ico"/>使用QQ登陆
    </a>-->
    <% } %>
    <%- partial('common/social.html') %>
    <div id="hotSeminars" class="hide box border">
        <div class="box-head">
            <b>热门专题</b>
            <a href="javascript:void(0);" class="link">
          更多
        </a>
        </div>
        <hr class="solid-light">
        <div class="box-body">
            <ul class="column-list">
                <li>
                    <div class="left">
                        <div class="avatar">
                            <img src="../../images/avatar1.jpg">
                        </div>
                    </div>
                    <div class="right">
                        <a href="javascript:void(0);" class="link">+关注</a>
                    </div>
                    <div class="center">
                        <b>结一老师的重构专栏</b>
                        <span>524编文章 | 234人关注</span>
                    </div>
                </li>
                <li>
                    <div class="left">
                        <div class="avatar">
                            <img src="../../images/avatar2.jpg">
                        </div>
                    </div>
                    <div class="right">
                        <a href="javascript:void(0);" class="link">+关注</a>
                    </div>
                    <div class="center">
                        <b>结一老师的重构专栏</b>
                        <span>524编文章 | 234人关注</span>
                    </div>
                </li>
                <li>
                    <div class="left">
                        <div class="avatar">
                            <img src="../../images/avatar3.jpg">
                        </div>
                    </div>
                    <div class="right">
                        <a href="javascript:void(0);" class="link">+关注</a>
                    </div>
                    <div class="center">
                        <b>结一老师的重构专栏</b>
                        <span>524编文章 | 234人关注</span>
                    </div>
                </li>
                <li>
                    <div class="left">
                        <div class="avatar">
                            <img src="../../images/avatar4.jpg">
                        </div>
                    </div>
                    <div class="right">
                        <a href="javascript:void(0);" class="link">+关注</a>
                    </div>
                    <div class="center">
                        <b>结一老师的重构专栏</b>
                        <span>524编文章 | 234人关注</span>
                    </div>
                </li>
                <li>
                    <div class="left">
                        <div class="avatar">
                            <img src="../../images/avatar5.jpg">
                        </div>
                    </div>
                    <div class="right">
                        <a href="javascript:void(0);" class="link">+关注</a>
                    </div>
                    <div class="center">
                        <b>结一老师的重构专栏</b>
                        <span>524编文章 | 234人关注</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

<% if(typeof tops !== 'undefined'){tops.slice(0,5).forEach(function(user){ %>
    <div id="hotAuthors" class="box border">
        <div class="box-head">
            <b>作者列表</b>
            <!--<a href="javascript:void(0);" class="link">更多</a>-->
        </div>
        <hr class="solid-light">
        <div class="box-body">
            <ul class="author-list">
                <li title="<%=user._id %>">
                    <div class="left">
                        <div class="avatar">
                            <img src="<%=user.avatar%>">
                        </div>
                    </div>
                    <div class="right">
                        <% if(current_user && current_user.following && current_user.following && current_user.following.indexOf(user._id) !== -1) {%>
                            <a href="javascript:void(0);">已关注</a>
                            <% } else {%>
                                <a href="javascript:void(0);" class="link focus-add">+关注</a>
                                <%  } %>
                    </div>
                    <div class="center">
                        <div class="one-line">
                            <img src="../../images/T.png">
                            <a href="/user/<%=user.id%>/index">
                                <%=user.name || user.loginname || ' ' %>
                            </a>
                            （
                            <%=user.topic_count %>）
                        </div>
                        <span>&nbsp;<%= user.topic_count %>编文章 | <%= user.following.length %>人关注</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </div>
<% })}%>

