<div id="social" class="box border">
    <div class="box-head">
        <b>关注我们</b>
    </div>
    <hr class="solid-light">
    <div class="box-body">
        <ul class="ico-list">
            <li>
                <a target="_blank" href="http://weibo.com/u/5623195454?refer_flag=1001030201">
                    <img src="../../images/weiboColor.png">
                </a>
            </li>
            <li>
                <a target="_blank" href="https://zhuanlan.zhihu.com/imweb">
                    <img src="../../images/zhihuColor.png">
                </a>
            </li>
        </ul>
        <div class="q_code">
            <img src="../../images/official-account-new.jpg">
        </div>
        <ul class="txt-list">
            <li>
                <a href="http://imweb.github.io/" target="_blank">关于我们</a>
            </li>
            <li>
                <a href="http://imweb.github.io/hire/">加入我们</a>
            </li>
        </ul>
    </div>
    <!--<div class="box-footer">
        2017 imweb
    </div>-->
</div>