<!DOCTYPE html>
<html>
<head>
    <!--网站测速-->
    <script type="text/javascript">
        var _speedMark = new Date();
    </script>
    <!--网站测速-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if (typeof(topic) !== 'undefined') { %>
    <title><%= topic.title %> - <%= config.name %></title>
    <% } else if (typeof(pageTitle) !== 'undefined') { %>
    <title><%= pageTitle %> - <%= config.name %></title>
    <% } else { %>
    <title><%= config.description %></title>
    <% } %>
    <meta name="description" content="Web前端 腾讯IMWeb 团队社区">
    <meta name="keywords" content="前端交流,前端社区,前端,iconfont,javascript,html,css,webfront,nodejs, node, express, connect, socket.io, lego.imweb.io">
    <meta name="author" content="imwebteam@tencent">
    <script src="//7.url.cn/edu/jslib/jquery/1.9.1/jquery.min.js"></script>
    <script>
    window.imweb = window.imweb || {};
    imweb._csrf = '<%- csrf %>';
    <% if (current_user) { %>
        imweb.user = {
            id: '<%= current_user._id %>',
            loginname: '<%= current_user.loginname %>',
            is_admin: <%= typeof(current_user.is_admin) !== 'undefined' && current_user.is_admin %>
        };
    <% } else { %>
        imweb.user = null;
    <% } %>
    </script>
</head>
<body>  
 <%- partial('common/header.html') %>
  <div id="banner">
    <div class="inner">
        <ul class="tab-list">
            <% tabs.forEach(function (pair) {
                var value = pair[0];
                var text = pair[1]; %>
                <li><a href="<%= value ? '/topic/tab/' + value : '/' %>" class="topic-tab <%= value === tab ? 'current-tab' : '' %>"><%= text %></a></li>
            <% }) %>
        </ul>
    </div>
</div>
<% if (banners && banners.length > 0) {%>
    <div id="banner-container" class="banner-bg">
      <div id="banner_wrap">
        <ul id="sliderbox">
            <% banners.forEach(function(banner) { %>
            <li data-bgcolor="<%= banner.background %>">
              <a href="<%= banner.link %>" target="_blank">
              <img src="<%= banner.image %>"/>
              </a></li>
            <% }) %>
        </ul>
        <a id="prev-btn" class="banner-button">
            <i class="banner-icon-arrow banner-icon-arrow-left"></i>
        </a>
        <a id="next-btn" class="banner-button">
            <i class="banner-icon-arrow banner-icon-arrow-right"></i>
        </a>
        <div class="sliderNav">
            <ul class="sliderNav-ul">
                <% banners.forEach(function(banner) { %>
                  <li></li>
                <% }) %>
            </ul>
        </div>
        </div>
    </div>
<% } %>
<div id="main" class="clearfix">
    <%- partial('common/sidebar.html',{
        tops: tops
    }) %>
    <div id="content">
        <% if (!current_user) {%>
        <div id="welcome">
          <b>注册IMWeb前端社区,</b>
          <b>你可以</b>
          <div class="intro">
            <div class="intro-item">第一时间获得最新、最火的技术干货</div>
            <div class="intro-item">定期推送您所关注的专题文章</div>
          </div>
          <div class="intro intro--bottom">
            <div class="intro-item">和大牛们一起讨论前端技术</div>
            <div class="intro-item">获取IMWeb社区、前端相关的最新活动</div>
          </div>
          <a href="javascript:void(0);" class="button nav-sign">立即注册</a>
        </div>
        <% } %>
        <div id="hotArticles" class="column">
            <div class="column-head">
                <b>热文</b>
                <a class="fr more" href="/topic/tab/all">更多</a>
            </div>
            <hr class="solid-light">
            <div class="column-body">
                <div class="slider">
                  <% if (typeof(topics) !== 'undefined' && topics.length > 0 && (topics[0].cover || (topics[0].pic && topics[0].pic[0])) ) { %>
                     <a href="/topic/<%= topics[0].id %>">
                        <div class="cover" style='background-image: url("<%=topics[0].cover || topics[0].pic[0] %>")'></div>
                     </a>
                  <% }else if(topics[0]) {%>
                     <a href="/topic/<%= topics[0].id %>"><img src="../images/sliderCover.png"></a>
                  <% } %>
                </div>
                <ul class="article-list">
                <% if (typeof(topics) !== 'undefined' && topics.length > 0) {%>
                    <% topics.slice(0,5).forEach(function (topic, index) { %>
                        <li <% if(index === 0) { %>class="active"<% } %>>
                            <a href="/topic/<%= topic.id %>" class="one-line"><%- topic.title %></a>
                            <p><%= topic.summary ? topic.summary.replace(/<br>/g, ' ') : '' %></p>
                        </li>
                    <%})%>
                <% } %>
                </ul>
            </div>
        </div>
        <div id="hotQuestions" class="column">
            <div class="column-head">
                <b>热问</b>
                <a class="fr more" href="/question/tab/all">更多</a>
            </div>
            <hr class="solid-light">
            <div class="column-body">
                <ul class="question-list">
                    <% if (typeof(questions) !== 'undefined' && questions.length > 0) { %>
                        <% questions.slice(0,3).forEach(function (question, index) { %>
                            <li class="question-item">
                                <div class="item-header">
                                    <div class="fr">
                                        <a class="tag" href="/question/tab/<%= question.tab %>"><%= question.tabName %></a>
                                    </div>
                                    <a href="/question/<%= question.id %>" class="one-line"><%= question.title %></a>
                                </div>
                                <div class="item-body">
                                    <div class="avatar">
                                        <a href="/user/<%=question.author.loginname%>/index" title="<%=question.author.name || question.author.loginname %>"><img src="<%= question.author.avatar %>"></a>
                                    </div>
                                    <div class="content">
                                        <span class="name"><a href="/user/<%=question.author.loginname%>/index" title="<%=question.author.name || question.author.loginname %>"><%= question.author.name || question.author.loginname %></a></span>
                                        <span><%= question.friendly_last_reply_at %></span>
                                        <p class="one-line"><%= question.summary || question.content %></p>
                                        <div class="footer">
                                            <span class="replyCount">
                                              <%= question.reply_count %>回复
                                            </span>
                                            <span class="collectCount">
                                              <%= question.collect_count %>收藏
                                            </span>
                                            <span class="visitCount">
                                              <%= question.visit_count %>浏览
                                            </span>
                                            <a class="link" href="/question/<%= question.id %>">详情</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        <%})%>
                    <% } %>
                </ul>
            </div>
        </div>
        <div id="hotActivtities" class="column">
            <div class="column-head">
                <b>最新活动</b>
                <span class="kind">
                    <a href="javascript:;" class="imweb active">imweb</a>
                    |
                    <a href="javascript:;" class="industry">行业</a>
                </span>
                <a class="fr link more" href="/activity/tab/imweb">更多</a>
            </div>
            <hr class="solid-light">
            <div class="column-body">
                <ul class="activity-list">
                    <% if (typeof(activity_imweb) !== 'undefined' && activity_imweb.length > 0) { %>
                        <% activity_imweb.slice(0,6).forEach(function (activity, index) { %>
                            <li class="activity_imweb">
                                <a href="/activity/<%= activity.id %>">
                                    <div class="cover">
                                      <% if(activity.cover){ %>
                                        <img src="<%= activity.cover %>">
                                      <% }else if(activity.pic && activity.pic.length > 0){ %>
                                        <img src="<%= activity.pic[0] %>">
                                      <% }else{ %>
                                        <img src="../images/activity1.jpg">
                                      <% } %>
                                    </div>
                                    <span class="one-line"><%=activity.title%></span>
                                </a>
                            </li>
                        <%})%>
                    <%}%>
                    <% if (typeof(activity_industry) !== 'undefined' && activity_industry.length > 0) { %>
                        <% activity_industry.slice(0,6).forEach(function (activity, index) { %>
                            <li class="activity_industry">
                                <a href="/activity/<%= activity.id %>">
                                  <% if(activity.cover){ %>
                                    <img src="<%= activity.cover %>">
                                  <% }else if(activity.pic && activity.pic.length > 0){ %>
                                      <img src="<%= activity.pic[0] %>">
                                    <% }else{ %>
                                      <img src="../images/activity1.jpg">
                                    <% } %>
                                    <span class="one-line"><%=activity.title%></span>
                                </a>
                            </li>
                        <%})%>
                    <%}%>
                </ul>
            </div>
        </div>
    </div>
</div>

<%- partial('common/loginpop.html') %>

<%- partial('common/footer.html') %>

</body>
</html>
