<div id="banner">
    <div class="inner">
        <ul class="tag-list">
            <% tabs.forEach(function (pair) {
                var value = pair[0];
                var text = pair[1]; %>
                <li><a href="<%= value ? '/?tab=' + value : '/' %>" class="topic-tab <%= value === tab ? 'current-tab' : '' %>"><%= text %></a></li>
            <% }) %>
        </ul>
    </div>
</div>

<div id="main" class="clearfix">
    <%- partial('common/sidebar.html') %>
    <div id="content">
        <div id="hotArticles" class="column">
            <div class="column-head">
                <b>热文</b>
                <a class="link" href="javascript:void(0);">更多</a>
            </div>
            <hr class="solid-light">
            <div class="column-body">
                <% console.log(topics)%>
                 <% if (typeof(topics) !== 'undefined' && topics.length > 0 && topics[0].pic && topics[0].pic[0]) { console.log(topics[0].pic[0])%>
                    <img class="slider" src="<%=topics[0].pic[0] %>">
                 <% }else {%>
                    <img class="slider" src="../images/sliderCover.png">
                 <% } %>
                <ul class="article-list">
                <% if (typeof(topics) !== 'undefined' && topics.length > 0) { %>
                    <% topics.forEach(function (topic, index) { %>
                        <li <% if(index === 0) { %>class="active"<% } %>>
                            <a href="/topic/<%= topic._id %>">
                                <b><%= topic.title %></b>
                                <p><%= topic.content %></p>
                            </a>
                        </li>
                    <%})%>
                <% } %>
                </ul>
            </div>
        </div>
        <div id="hotQuestions" class="column">
            <div class="column-head">
                <b>热问</b>
                <a class="link" href="javascript:void(0);">更多</a>
            </div>
            <hr class="solid-light">
            <div class="column-body">
                <ul class="question-list">
                    <li class="question-item">
                        <div class="item-header">
                            <b>前端进阶之路：如何高质量完成产品需求开发</b>
                            <div class="pull-right">
                                <span class="commentCount">
                            <img src="../images/comment.png">
                          </span>
                                <a class="tag">javascript</a>
                            </div>
                        </div>
                        <div class="item-body">
                            <div class="avatar">
                                <img src="../images/avatarDefault.png">
                            </div>
                            <div class="content">
                                <b>回答用户</b><span>一天前</span>
                                <p>写在前面 作为一个互联网前端老鸟，这么些年下来，做过的项目也不少。从最初的我的QQ中心 、 QQ圈子 ，到后面的 QQ群项目 、 腾讯课堂 。从几个人的项目，到近百号人的项目都经历过。从几个人的项目，到近百号人的项目都经历过。</p>
                                <div class="footer">
                                    <span class="likeCount">
                              <img src="../images/thumb.png">173
                            </span>
                                    <a class="link" href="javascript:void(0);">详情</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="question-item">
                        <div class="item-header">
                            <b>前端进阶之路：如何高质量完成产品需求开发</b>
                            <div class="pull-right">
                                <span class="commentCount">
                            <img src="../images/comment.png">
                          </span>
                                <a class="tag">javascript</a>
                            </div>
                        </div>
                        <div class="item-body">
                            <div class="avatar">
                                <img src="../images/avatarDefault.png">
                            </div>
                            <div class="content">
                                <b>回答用户</b><span>一天前</span>
                                <p>写在前面 作为一个互联网前端老鸟，这么些年下来，做过的项目也不少。从最初的我的QQ中心 、 QQ圈子 ，到后面的 QQ群项目 、 腾讯课堂 。从几个人的项目，到近百号人的项目都经历过。从几个人的项目，到近百号人的项目都经历过。</p>
                                <div class="footer">
                                    <span class="likeCount">
                              <img src="../images/thumb.png">173
                            </span>
                                    <a class="link" href="javascript:void(0);">详情</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="question-item">
                        <div class="item-header">
                            <b>前端进阶之路：如何高质量完成产品需求开发</b>
                            <div class="pull-right">
                                <span class="commentCount">
                            <img src="../images/comment.png">
                          </span>
                                <a class="tag">javascript</a>
                            </div>
                        </div>
                        <div class="item-body">
                            <div class="avatar">
                                <img src="../images/avatarDefault.png">
                            </div>
                            <div class="content">
                                <b>回答用户</b><span>一天前</span>
                                <p>写在前面 作为一个互联网前端老鸟，这么些年下来，做过的项目也不少。从最初的我的QQ中心 、 QQ圈子 ，到后面的 QQ群项目 、 腾讯课堂 。从几个人的项目，到近百号人的项目都经历过。从几个人的项目，到近百号人的项目都经历过。</p>
                                <div class="footer">
                                    <span class="likeCount">
                              <img src="../images/thumb.png">173
                            </span>
                                    <a class="link" href="javascript:void(0);">详情</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div id="hotActivtities" class="column">
            <div class="column-head">
                <b>最新活动</b>
                <span class="kind">
                      <a href="javascript:void(0);">imweb</a>
                      |
                      <a href="javascript:void(0);">行业</a>
                    </span>
                <a class="link" href="javascript:void(0);">更多</a>
            </div>
            <hr class="solid-light">
            <div class="column-body">
                <ul class="activity-list">
                    <li>
                        <a href="javascript:void(0);">
                            <img src="../images/activity1.jpg">
                            <span class="one-line">Velocity2014:2亿QQ在线背后的web敏捷开发模式2亿QQ在线背后的web敏捷开发模式</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <img src="../images/activity2.jpg">
                            <span class="one-line">Velocity2014:2亿QQ在线背后的web敏捷开发模式</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <img src="../images/activity3.jpg">
                            <span class="one-line">Velocity2014:2亿QQ在线背后的web敏捷开发模式</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <img src="../images/activity4.jpg">
                            <span class="one-line">Velocity2014:2亿QQ在线背后的web敏捷开发模式</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <img src="../images/activity5.jpg">
                            <span class="one-line">Velocity2014:2亿QQ在线背后的web敏捷开发模式2亿QQ在线背后的web敏捷开发模式</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <img src="../images/activity6.jpg">
                            <span class="one-line">Velocity2014:2亿QQ在线背后的web敏捷开发模式</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>